body{
    background-color: pink;
    text-align: center;
}

button{
    background-color: rgb(112, 200, 235);
    font-size: 50px;
    text-decoration: none;
    
}

p{
    font-size: 30px;
    color:rgb(207, 12, 45)
}

h1{
    color: red;
    font-size: 60px;
    font-family:cursive;
}
button:hover{
    background-color: red;
}